* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-container{
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    /* background-color: #2DB986; */
}
/* custom-sidebar and custom-navbar */

.custom-sidebar {
    min-width: 20vw;
    min-height: 100vh;
}
.custom-sidebar .gx-logo{
    display: flex;
    justify-content: center;
}
.custom-sidebar .gx-logo img{
    width: 50px;
    margin: 12px auto 80px auto;
}
.custom-sidebar .menu .list-menu{
    width: inherit;
    /* height: 48px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 24px 24px 32px;
    /* padding: 2px; */
    /* background-color:#2DB986; */
}
.custom-sidebar .menu .list-menu:hover{
    color: #FF7D00;
    /* fill: #FF7D00; */
}
.custom-sidebar .menu .list-menu a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom-sidebar .menu .list-menu img{
    width: 24px;
    /* fill: #ACADC1; */
    margin-right: 16px;
    position: relative;
}
.custom-sidebar .menu .list-menu .list-menu-descr{
    /* position: relative; */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}
.custom-sidebar .menu .list-menu a{
    text-decoration: none;
    color: #ACADC1;
}
.custom-sidebar .menu .list-menu a:hover{
    color: #FF7D00;
}

/* custom-navbar and content are */
.content{
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
/* custom-navbar */
.content .custom-navbar {
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
}
.content .custom-navbar .left-toggle {
    /* background-color: #FF7D00; */
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content .custom-navbar .left-toggle img{
    width: 48px;
    padding-left: 24px;
}
.content .custom-navbar .left-toggle span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #26273B;
    margin-left: 40px;
}
.content .custom-navbar .avatar {
    right: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content .custom-navbar .avatar img{
    margin-right: 6px;
    border-radius: 50%;
}
/* Content Area */
.content .content-area {
    background-color: #F5F5F5;
    width: inherit;
    min-height: 100vh;
    padding-top: 48px;
    padding-left: 32px;
    box-sizing: border-box;
}
/*  */
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* box contact */
/* header */
.box-contact {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    border-radius: 8px;
    width: auto;
    margin-right: 32px;
}
.box-contact .box-contact-header {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box-contact .box-contact-header h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.12px;
    color: #18255C;
}
.box-contact .box-contact-header span{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6F708B;
}
.orange-button{
    width: 124px;
    height: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    color: #FFF;
    background-color: #FF7D00;
    border: 1px solid #F0F1F2;
    border-radius: 6px;
}
.orange-button:hover{
    background-color: #EE6C00;
}

/* box contact list */
.box-contact .box-contact-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    width: 272px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #6F708B;
    margin-top: 48px;
    margin-right: 18px;

}
.box-contact .box-contact-list h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #26273B;
}
.box-contact .box-contact-list p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6F708B;
    margin-top: 8px;
}
.edit-remove-button{
    margin-top: 24px;
}
.edit-remove-button a{
    margin-right: 32px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #647DEB;
}